body{
    margin:0;
    font-family:Arial;
    background:url("Bg.png");
    background-size:cover;
    text-align:center;
}

.container{
    margin-top:80px;
}

.logo{
    width:550px;
}

h1{
    color:#0f2b2b;
}

p{
    width:70%;
    margin:40px auto;
    font-size:28px;
    font-weight:bold;
    color:#0f2b2b;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:50px;
}

.btn{
    padding:15px 60px;
    background:#0f2b2b;
    color:white;
    text-decoration:none;
    border-radius:25px;
    font-size:20px;
}

.gold{
    background:#a6782a;
}