body{
margin:0;
font-family: 'Aptos', sans-serif;
background:url("bg.jpg") no-repeat center;
background-size:cover;
background-attachment: fixed;
min-height: 100vh;
padding: 40px 0;
box-sizing: border-box;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.glass{
background:rgba(255,255,255,0.1);
border-radius:20px;
padding:40px;
backdrop-filter:blur(15px);
width:450px;
text-align:center;
box-shadow:0 0 25px rgba(0,0,0,0.3);
}

.logo {
    width: 180px;
    margin-bottom: 0px;
    filter: drop-shadow(5px 5px 10px #000000);
}

input,select{
box-sizing:border-box;
width:100%;
padding:12px;
margin:8px 0;
border:1px solid rgba(255, 255, 255, 0.2);
border-radius:10px;
outline:none;
background: rgba(255, 255, 255, 0.1);
color: white;
backdrop-filter: blur(5px);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

input:hover, select:hover {
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

select option {
    background: #1a1a1a; 
    color: white;
}

.btn{
width:100%;
display:block;
margin-top:15px;
padding:12px;
background:#0d1b2a;
color:white;
border:none;
border-radius:10px;
font-weight:bold;
text-transform:uppercase;
letter-spacing:1px;
text-decoration:none;
cursor:pointer;
transition:all 0.3s ease;
box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

.fade{
animation:fadeIn 1s ease;
}

@keyframes fadeIn{
from{opacity:0;transform:translateY(20px);}
to{opacity:1;transform:translateY(0);}
}

.btn:hover{
transform:translateY(-2px);
box-shadow:0 6px 20px rgba(255, 255, 255, 0.1);
filter:brightness(1.1);
}

.btn:active{
transform:translateY(0) scale(0.98);
}
