body{
margin:0;
font-family:Arial;
background:linear-gradient(gray,white);
height:100vh;
}

.title{
position:absolute;
top:120px;
left:50%;
transform:translateX(-50%);
}

.duebox{
position:absolute;
top:220px;
left:50%;
transform:translateX(-50%);
width:350px;
height:150px;
background:white;
text-align:center;
line-height:150px;
font-size:22px;
}